@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #181b32;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

h1 {
  line-height: 1.1;
}

h2 {
  font-weight: 300;
}

main {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#quiz {
  /* min-height: 60%; */
  width: 80%;
  max-width: 80rem;
  background: #282c48;
  border-radius: 5px;
}

.header_padding {
  padding: 1rem 5rem;
}

.question-info {
  font-size: 0.9rem;
  font-weight: 600;
  color: #6e749b;
  padding: 1rem 5rem;
}

.question {
  padding: 1rem 5rem;
}

button.next-question {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  float: right;
  background-color: #4b22f4;
  margin-right: 5rem;
  margin-bottom: 2rem;
  padding: 1rem 2.8rem;
  border: unset;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

button.next-question:disabled {
  cursor: not-allowed;
  background-color: #4c22f467;
  color: #ffffff6e;
}

#summary {
  width: 80%;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
  background: #282c48;
  color: #fff;
  border-radius: 8px;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.6);
  animation: slide-in-from-bottom 0.7s ease-out;
}

#summary img {
  display: block;
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  margin: 0 auto 1rem auto;
  padding: 1rem;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.6));
  border: 2px solid #3a2353;
  border-radius: 50%;
  background: #c18cfa;
}

#summary h2 {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  color: #fff;
}

#summary ol {
  list-style: none;
  margin: 2rem auto;
  padding: 0;
  text-align: center;
}

#summary li {
  margin: 2rem 0;
}

#summary h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2c203d;
  color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

#summary .question {
  margin: 0.25rem 0;
  font-size: 1rem;
  color: #fff;
}

#summary .user-answer {
  margin: 0.25rem 0;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #fff;
}

#summary .user-answer.correct {
  color: green;
}

#summary .user-answer.wrong {
  color: red;
}

#summary .user-answer.skipped {
  color: #d1baf2;
  font-weight: normal;
}

#summary-stats {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 2rem auto;
  padding-bottom: 2rem;
  border-bottom: 2px solid #fff;
}

#summary-stats p {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin: 0;
}

#summary-stats p:nth-child(2) {
  text-align: right;
}

#summary-stats .number {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  color: #fff;
}

#summary-stats .text {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #fff;
  margin-top: -0.7rem;
  margin-left: 0.2rem;
  letter-spacing: 0.1rem;
}

@media (width<=780px) {
  #quiz {
    width: 95%;
  }
}

@media screen and (width <=720px) and (height<=780px) {
  #quiz {
    width: 95%;
  }

  .header_padding {
    padding: 1rem;
  }

  .completed-text {
    display: block;
  }

  .question-info {
    padding: 1rem;
  }

  .question {
    padding: 1rem;
  }

  button.next-question {
    margin-right: 1rem;
  }
}

@media (width<=600px) {
  #quiz {
    width: 95%;
  }

  .header_padding {
    padding: 1rem;
  }

  .question-info {
    padding: 1rem;
  }

  .question {
    padding: 1rem;
  }

  button.next-question {
    margin-right: 1rem;
  }
}
