@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #181b32;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

h1 {
  line-height: 1.1;
}

h2 {
  font-weight: 300;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quiz {
  min-height: 60%;
  width: 80%;
  max-width: 1200px;
  background: #282c48;
  border-radius: 5px;
}

.header_padding {
  padding: 1rem 5rem;
}

.question-info {
  font-size: .9rem;
  font-weight: 600;
  color: #6e749b;
  padding: 1rem 5rem;
}

.question {
  padding: 1rem 5rem;
}

/* button {
  width: 100%;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: unset;
  cursor: pointer;
  color: #fff;
  text-align: left;
} */

@media screen and (width <=720px) and (height<=780px) {
  #quiz {
    height: auto;
    width: 95%;
  }

  .header_padding {
    padding: 1rem;
  }

  .completed-text {
    display: block;
  }

  .question-info {
    padding: 1rem;
  }

  .question {
    padding: 1rem;
  }
}

@media (width<=500px) {
  #quiz {
    height: auto;
    width: 95%;
  }

  .header_padding {
    padding: 1rem;
  }

  .completed-text {
    display: block;
  }

  .question-info {
    padding: 1rem;
  }

  .question {
    padding: 1rem;
  }
}

@media (height<=700px) {
  #quiz {
    height: auto;
  }
}

@media (height<=430px) {
  html {
    height: auto;
  }

  body {
    height: auto;
  }
}
